<div class="flc-layout--center">

  <mat-card class="flc-margin--smaller flc-padding--large">
    <mat-card-content>

      <fiar-board>
        <fiar-board-col *ngFor="let column of board$ | async">
          <fiar-piece *ngFor="let piece of column"></fiar-piece>
        </fiar-board-col>
      </fiar-board>

    </mat-card-content>

  </mat-card>

  <mat-card class="flc-card-aside">
    <mat-card-content class="flc-padding--small-right">
      <div *ngIf="(players$ | async) as players">
        <div *ngFor="let player of players; let i = index;">
          <div class="flc-game-avatar-group">
            <fiar-avatar
              [type]="player.avatar"
              [state]="(currentPlayer$ | async) === player.id ? 'their-turn' : ''"
              [index]="i">
            </fiar-avatar>

            <span *ngIf="player.name" class="mat-h3">
              {{player.name}}
            </span>

            <span *ngIf="!player.name" class="mat-h3">
              Player {{ i ? 'Two' : 'One' }}
              <i *ngIf="player.isCurrent" class="mdl-typography--caption-color-contrast">(you)</i>
            </span>

          </div>
        </div>

        <div *ngIf="(playersTotal$ | async) === 1">
          <div class="flc-game-avatar-group">
            <fiar-avatar></fiar-avatar>
            <div class="flc-layout--column">
              <span class="mat-h3 flc-margin--clear">Player two</span>
              <i class="mdl-typography--caption-color-contrast">(waiting to join)</i>
            </div>

          </div>
        </div>

      </div>
    </mat-card-content>
  </mat-card>
</div>
