<div class="flc-layout--center game">
  <mat-card class="flc-margin--smaller flc-padding--large">
    <mat-card-content>
      <fiar-board
        [board]="board$ | async"
        [disabled]="!(isPlayersTurn$ | async)((user$ | async)?.id)"
        (columnClicked)="placePiece($event)">
      </fiar-board>
    </mat-card-content>

  </mat-card>

  <mat-card class="flc-card-aside">
    <mat-card-content>
      <div class="flc-padding--small-right" *ngIf="(players$ | async) as players">
        <div *ngFor="let player of players; let i = index;">
          <div class="flc-game-avatar-group">
            <fiar-avatar
              [type]="player.avatar"
              [state]="(isPlayersTurn$ | async)(player.id) ? 'their-turn' : ''"
              [index]="i">
            </fiar-avatar>

            <span *ngIf="player.name" class="mat-h3">
              {{player.name}}
            </span>

            <span *ngIf="!player.name" class="mat-h3">
              Player {{ i ? 'Two' : 'One' }}
              <i *ngIf="player.isCurrent" class="mdl-typography--caption-color-contrast">(you)</i>
            </span>

          </div>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="status-bar">
        <span class="mat-body-2 flc-typography--caption-color flc--animation-slide-right">
          <span *ngIf="(isPlayersTurn$ | async)((user$ | async)?.id)">Your turn</span>
        </span>
      </div>



    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions>
      <button mat-button color="warn">SURRENDER</button>
    </mat-card-actions>
  </mat-card>
</div>
