<div class="mat-typography">
    <ng-container *ngTemplateOutlet="(isProfileEditMode$ | async) ? editTemplate : menuTemplate; context: {$implicit: isProfileEditMode$ | async }">
    </ng-container>
    <!-- Edit Profile Template -->
    <ng-template #editTemplate let-isProfileEditMode>
      <fiar-profile-editor
        [user]="user$ | async"
        (submit)="onProfileSubmit($event)"
        (cancel)="setProfileEditMode(false)">
      </fiar-profile-editor>
    </ng-template>

    <!--  Menu Template (start/join game)-->
    <ng-template #menuTemplate let-isProfileEditMode>
      <mat-card *ngIf="(user$ | async) as user">
        <mat-card-content>
          <div class="flc-layout--center-middle flex--column">
            <fiar-avatar [type]="user.avatar" isActive="true"></fiar-avatar>
            <span class="mat-h2 margin--clear flc-layout--column-middle">
                {{user.name || 'You'}}
                <button mat-stroked-button (click)="setProfileEditMode(!isProfileEditMode)"><small>Edit Profile</small></button>
            </span>
          </div>
        </mat-card-content>

        <mat-divider></mat-divider>

        <mat-card-actions>
          <button mat-raised-button (click)="startGame()"color="accent">START GAME</button>
          <button mat-button color="accent" (click)="joinGame()">JOIN GAME</button>
        </mat-card-actions>
      </mat-card>
    </ng-template>
</div>
