<div class="app-cmp flc-layout-bg mdl-layout mdl-js-layout">
  <main class="mdl-layout__content flc-layout--center-middle">
    <div class="page-content flc-layout--center">
      <router-outlet></router-outlet>
    </div>
  </main>
  <footer class="mdl-mega-footer">
    <div class="mdl-mega-footer__middle-section">
      <div class="mdl-mega-footer__drop-down-section">
        <h1 class="mdl-mega-footer__heading">Assignment documentation</h1>
        <ul class="mdl-mega-footer__link-list">
          <li><a routerLink="/docs">Documentation</a></li>
          <li><a routerLink="/docs" fragment="requirements">Requirements</a></li>
          <li><a routerLink="/docs" fragment="boilerplate">Boilerplate</a></li>
          <li><a routerLink="/docs" fragment="how-to-submit">How to submit?</a></li>
          <li><a routerLink="/docs" fragment="how-do-we-evaluate">How do we evaluate?</a></li>
        </ul>
      </div>
      <div class="mdl-mega-footer__drop-down-section">
        <h1 class="mdl-mega-footer__heading">About Falcon.io</h1>
        <ul class="mdl-mega-footer__link-list">
          <li><a target="_blank" href="https://www.falcon.io/">Home</a></li>
          <li><a target="_blank" href="https://www.falcon.io/company/">Company</a></li>
          <li><a target="_blank" href="https://www.falcon.io/insights-hub/">Blog</a></li>
        </ul>
      </div>
    </div>
    <div class="mdl-mega-footer__bottom-section">
      <div class="mdl-logo">
        <img src="./assets/falcon_logo_white.svg" />
      </div>
    </div>
  </footer>
</div>
