<div class="flc-layout--center game">
  <mat-card class="flc-margin--smaller flc-padding--large">
    <mat-card-content>
      <fiar-board
        [board]="board$ | async"
        [win]="win$ | async"
        [disabled]="!(isPlayersTurn$ | async)((user$ | async)?.id)"
        [mapIdToIndex]="mapPlayerToIndexFn"
        (columnClicked)="placePiece($event)">
      </fiar-board>
    </mat-card-content>

  </mat-card>

  <mat-card class="flc-card-aside">
    <mat-card-content style="margin-bottom: 0px;">
      <div class="flc-padding--small-right" *ngIf="(players$ | async) as players">
        <div *ngFor="let player of players; let i = index;">
          <fiar-avatar-group>
            <fiar-avatar
              [type]="player.avatar"
              [state]="(isPlayersWinning$ | async)(player.id) ? 'winner' : (isPlayersTurn$ | async)(player.id) ? 'their-turn' : ''"
              [index]="i">
            </fiar-avatar>

            <span *ngIf="player.name" style="line-height: 1; white-space: pre-line; max-width: 100px;" class="mat-h3">
              {{player.name}}
            </span>

            <span *ngIf="!player.name" style="line-height: 1; white-space: pre-line; max-width: 100px;" class="mat-h3">
              Player {{ i ? 'Two' : 'One' }}
              <i *ngIf="player.isClient" class="mdl-typography--caption-color-contrast">(you)</i>
            </span>

          </fiar-avatar-group>
        </div>
      </div>



    </mat-card-content>

    <mat-divider></mat-divider>

    <fiar-status-bar [animate]="true">
      <!-- <span *ngIf="(isPlayersTurn$ | async)((user$ | async)?.id)">Your turn</span> -->
      {{statusMessage$ | async}}
    </fiar-status-bar>

    <mat-divider></mat-divider>

    <mat-card-actions>
      <button mat-button color="warn">SURRENDER</button>
    </mat-card-actions>
  </mat-card>
</div>
