/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.text{
  &--center{
    text-align: center;
  }
}

.flex {
  display: flex;

  &--column {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &--between {
    display: flex;
    justify-content: space-between;
  }

  &--center {
    display: flex;
    justify-content: center;
  }

  &--right {
    display: flex;
    justify-content: flex-end;
  }
}

.w {
  &--1-1 {
    width: 100%;
  }
}
